@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  background: #1bb6bf;
  background: linear-gradient(
    90deg,
    rgba(27, 182, 191, 1) 0%,
    rgba(143, 48, 196, 1) 100%
  );
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#form-register {
  background: #ffffff;
  width: 40rem;
  text-align: center;
  padding: 30px 35px;
  border-radius: 8px;
  align-self: center;
  margin: 20px;
}

.title {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 3rem;
  font-weight: 700;
  color: #1bb6bf;
  text-transform: uppercase;
}

.form-group {
  display: flex;
  margin-bottom: 10px;
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
  flex-direction: column;
}

.form-label,
.form-error {
  text-align: left;
}

.form-label {
  font-size: 1.8rem;
  font-weight: 700;
  color: #5c5c5c;
  line-height: 2rem;
  margin-bottom: 5px;
}

.form-input {
  outline: none;
  padding: 10px 8px;
  font-size: 1.6rem;
  border-radius: 5px;
  border: 1px solid #a0a0a0;
  display: flex;
}

.form-error {
  font-size: 12px;
  line-height: 1.5rem;
  margin: 8px 5px;
}

.form-input:focus,
.form-input:hover {
  border-color: #00bac4;
}

.form-group.invalid .form-input {
  border-color: #fa1111;
  background-color: rgb(243, 58, 88,0.1)
}

.form-group.invalid .form-error {
  color: #fa1111;
}

button {
  outline: none;
  background: #1bb6bf;
  font-size: 2rem;
  padding: 1.2rem;
  width: 100%;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  margin-top: 1rem;
}

button:hover {
  background-color: #04959c;
}
