body{
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  font-family: "Times New Roman", Times, sans-serif;
  font-size: 20px;
  position: relative;
}

.box-center {
  position: absolute;
  top: 50%;
  left: 50%;
/* transform: translateX(-50%) translateY(-50%); */
  background: #fff;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 80px 30px;
  width: 300px;
  height: 400px;
  text-align: center;
  box-shadow: 0  0 10px rgba(0, 0, 0, 0.3);
}

h2 {
  color: rgb(49, 49, 209);
  text-align: center;
  margin-bottom: 30px;
}

input{
margin: 20px 0px auto;
font-size: 16px;
padding:5px;
border-radius: 5px;
border: solid 1px #c0c0c0;
}
::placeholder {
    color: #8d8d8d;
}

button {
  width: 250px;
  text-align: center;
  font-size: 20px;
  background: rgb(45, 116, 207);
  color: #fff;
  font-weight: bold;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  border: none;
}
